<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
  <meta charset="utf-8">
  <title>마이페이지</title>
  <style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #F3F2EC;
        width: 200px;
    }
    .input-group input, .input-group select {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        box-sizing: border-box;
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // 콘텐츠 변경 스크립트
      const contentArea = document.getElementById('content-area');

      const userId = document.getElementById('user-id').getAttribute('data-user-id');

      // 회원탈퇴 로드
      document.getElementById('menu-settings').addEventListener('click', () => {
        contentArea.innerHTML = `
           <div class="border-bottom border-dark">
            <span class="fs-4 fw-bold text-dark">회원탈퇴</span>
           </div>
           <p class="mt-4">회원탈퇴를 진행하시겠습니까? 탈퇴 시 모든 정보가 삭제됩니다.</p>
           <div class="d-flex justify-content-center">
            <form method="POST" action="/mypage/delete/${userId}" onsubmit="return confirm('정말로 탈퇴하시겠습니까?');">
                <button type="submit" class="btn btn-danger">회원탈퇴</button>
            </form>
           </div>
        `;
      });
    });
  </script>
</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">


<div layout:fragment="content">

  <section id="popular-books" class="bookshelf my-5">
    <div class="container">
      <div class="row">
<!--        <div class="col-md-12">-->

          <div class="section-header align-center">
            <div class="title">
              <span>마이페이지</span>
            </div>
            <h2 class="section-title">MY PAGE</h2>
          </div>

          <!-- 좌측 사이드바 -->
          <div class="col-md-2 p-4 side-nav-bar" th:include="mypage/sidebar :: sidebar"></div>

          <!-- 메인 콘텐츠 -->
          <div class="col-md-10 p-4" id="content-area">
              <div class="border-bottom border-dark" style="display: flex; justify-content: space-between; align-items: center;">
                  <span class="fs-4 fw-bold text-dark">나의 정보</span>
                  <a th:href="@{/mypage/modify/{userId}(userId=${user.getId()})}" class="btn btn-primary mb-1">수정하기</a>
              </div>
              <table>
                  <tr>
                      <th class="ps-3">아이디</th>
                      <td th:text="${user.getId()}"></td>
                  </tr>
                  <tr>
                      <th class="ps-3">이름</th>
                      <td th:text="${user.getName()}"></td>
                  </tr>
                  <tr>
                      <th class="ps-3">생년월일</th>
                      <td th:text="${user.getBirth()}"></td>
                  </tr>
                  <tr>
                      <th class="ps-3">휴대전화번호</th>
                      <td th:text="${user.getPhoneNumber()}"></td>
                  </tr>
                  <tr>
                      <th class="ps-3">이메일</th>
                      <td th:text="${user.getEmail()}"></td>
                  </tr>
                  <tr>
                      <th class="ps-3">등급</th>
                      <td th:text="${user.getRankName()}"></td>
                  </tr>
                  <tr>
                      <th class="ps-3">가입일</th>
                      <td th:text="${user.getSignUpDate()}"></td>
                  </tr>
                  <tr>
                      <th class="ps-3">권한</th>
                      <td th:each="roleName : ${user.getRoleNames()}" th:text="${roleName}"></td>
                  </tr>
              </table>

          </div>

        </div>
      </div>
<!--    </div>-->
  </section>


</div>

  <script>
    // 메시지를 팝업으로 표시하는 함수
    window.onload = function() {
      const couponMessage = '<c:out value="${couponMessage}" />';
      if (couponMessage) {
        alert(couponMessage); // 메시지를 팝업으로 표시
      }
    };
  </script>

</body>

</html>